body {
	background-color: #29B2ED;
}

#appstrap {
	position: absolute;
	text-align: center;
	left: 0px;
	top: 0px;
	right: 0px;
	bottom: 0px;
	z-index: 100;
	font-family: sans-serif;
	display: -webkit-flex;

	-webkit-flex-direction: column;
	-webkit-justify-content: center;
	-webkit-align-items: center;
}

#appstrapstrap > img {
	width: 200px;
}

#appstrap-retry {
	color: white;
	padding: 0px 20px;
}

#appstrap-retry button {
	background-color: #fff;
	color: #29B2ED;
	font-size: 20px;
	line-height: 30px;
	border: 0;
	width: 120px;
	height: 42px;
}